<div id="requestItem" style="display:none;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">My Request</h3>
    </div>
    <div class="panel-body">
      <strong>fid</strong>: <span class="fid">XXX</span><br />
      <strong>Name</strong>: <span class="title">XXX</span><br />
      <strong>Keyword</strong>: <span class="keyword">XXX</span><br />
      <strong>Summary</strong>: <span class="summary">XXX</span><br />
      <strong>Owner</strong>: <span class="owner">XXX</span><br />
      <strong>hash</strong>: <span class="hash">XXX</span><br />
      <strong>Price</strong>: <span class="price">XXX</span><br />
      <strong>Handler</strong>: <span class="handler">XXX</span><br />
      <button class="btn btn-primary delete" type="button">Delete</button>
      <button class="btn btn-primary download" type="button">Download</button>
    </div>
  </div>
</div>

<div id="myrequest">
  <!-- load my requests (requestItem) here -->
</div>

<script src="/javascripts/myrequest.js"></script>
